.App {
  text-align: center;
}

body{
  background-color: #171717;
  color: #FFFFFF;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.todo-list {
  background-color: #2f2f2f;
  margin: 10px;
  margin-right: 1.5rem;
  padding: 20px;
  flex: 2 0 28%;
  height: 120px;
}

