/* #white: #FFFFFF
 pink-purple: #C620A7
 grey(background): #171717

*/

.App {
  text-align: center;
}

body {
  background-color: #171717;
  color: #ffffff;
}

/* .todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
} */

.todo-list {
  background-color: #2f2f2f;
  margin: 10px;
  margin-right: 1.5rem;
  padding: 20px;
  flex: 2 0 28%;
  height: 120px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  padding: 2rem;
  align-items: center;
}

.todos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2f2f2f;
  margin: 10px;
  padding: 20px;
  flex: 2 0 22%;
  gap: 4rem;
}

.purple-btn {
  background-color: #c620a7;
  color: #ffffff;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todo-title {
  text-align: center;
}
